In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/kor-dol.csv')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
# 데이터 타입별 column 선택하기(select_dtypes)
# 머신러닝, 딥러닝 알고리즘에 데이터를 넣어줄 때 object 컬럼은 인식을 못함
# object인경우 숫자형으로 변환해서 넣어줘야 하는 경우가 많다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
# 문자열이 있는 column만 선택
df.select_dtypes(include='object')

      이름     그룹      소속사  성별        생년월일 혈액형
0     지민  방탄소년단      빅히트  남자  1995-10-13   A
1   지드래곤     빅뱅       YG  남자  1988-08-18   A
2   강다니엘    NaN      커넥트  남자  1996-12-10   A
3      뷔  방탄소년단      빅히트  남자  1995-12-30  AB
4     화사    마마무      RBW  여자  1995-07-23   A
5     정국  방탄소년단      빅히트  남자  1997-09-01   A
6     민현   뉴이스트     플레디스  남자  1995-08-09   O
7     소연    아이들       큐브  여자  1998-08-26   B
8      진  방탄소년단      빅히트  남자  1992-12-04   O
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22   A
10    태연   소녀시대       SM  여자  1989-03-09   A
11   차은우   아스트로     판타지오  남자  1997-03-30   B
12    백호   뉴이스트     플레디스  남자  1995-07-21  AB
13    JR   뉴이스트     플레디스  남자  1995-06-08   O
14    슈가  방탄소년단      빅히트  남자  1993-03-09   O

In [ ]:
df.select_dtypes(exclude='object') # object 배제

        키   브랜드평판지수
0   173.6  10523260
1   177.0   9916947
2   180.0   8273745
3   178.0   8073501
4   162.1   7650928
5   178.0   5208335
6   182.3   4989792
7     NaN   4668615
8   179.2   4570308
9   167.1   4036489
10    NaN   3918661
11  183.0   3506027
12  175.0   3301654
13  176.0   3274137
14  174.0   2925442

In [ ]:
df + 10

TypeError: ignored

In [ ]:
df.select_dtypes(include='object') + 10

TypeError: ignored

In [ ]:
df.select_dtypes(exclude='object') + 10

        키   브랜드평판지수
0   183.6  10523270
1   187.0   9916957
2   190.0   8273755
3   188.0   8073511
4   172.1   7650938
5   188.0   5208345
6   192.3   4989802
7     NaN   4668625
8   189.2   4570318
9   177.1   4036499
10    NaN   3918671
11  193.0   3506037
12  185.0   3301664
13  186.0   3274147
14  184.0   2925452

In [ ]:
num_cols = df.select_dtypes(exclude='object').columns
obj_cols = df.select_dtypes(include='object').columns

In [ ]:
df[num_cols]

        키   브랜드평판지수
0   173.6  10523260
1   177.0   9916947
2   180.0   8273745
3   178.0   8073501
4   162.1   7650928
5   178.0   5208335
6   182.3   4989792
7     NaN   4668615
8   179.2   4570308
9   167.1   4036489
10    NaN   3918661
11  183.0   3506027
12  175.0   3301654
13  176.0   3274137
14  174.0   2925442

In [ ]:
df[obj_cols]

      이름     그룹      소속사  성별        생년월일 혈액형
0     지민  방탄소년단      빅히트  남자  1995-10-13   A
1   지드래곤     빅뱅       YG  남자  1988-08-18   A
2   강다니엘    NaN      커넥트  남자  1996-12-10   A
3      뷔  방탄소년단      빅히트  남자  1995-12-30  AB
4     화사    마마무      RBW  여자  1995-07-23   A
5     정국  방탄소년단      빅히트  남자  1997-09-01   A
6     민현   뉴이스트     플레디스  남자  1995-08-09   O
7     소연    아이들       큐브  여자  1998-08-26   B
8      진  방탄소년단      빅히트  남자  1992-12-04   O
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22   A
10    태연   소녀시대       SM  여자  1989-03-09   A
11   차은우   아스트로     판타지오  남자  1997-03-30   B
12    백호   뉴이스트     플레디스  남자  1995-07-21  AB
13    JR   뉴이스트     플레디스  남자  1995-06-08   O
14    슈가  방탄소년단      빅히트  남자  1993-03-09   O

In [ ]:
# 원핫인코딩(One-hot-encoding)
# 한개의 요소는 True 그리고 나머지 요소는 False로 만들어주는 기법
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
# 머신러닝을 돌리기 위해서 수치형으로 바꿔주기
blood_map = {
    'A': 0,
    'B': 1,
    'AB': 2,
    'O':3
}

In [ ]:
df['혈액형_code'] = df['혈액형'].map(blood_map)

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  혈액형_code
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260         0
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947         0
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745         0
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501         2
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928         0

In [ ]:
df['혈액형_code'].value_counts()

0    7
3    4
2    2
1    2
Name: 혈액형_code, dtype: int64

In [ ]:
# 혈액형 코드를 머신러닝 알고리즘에 그대로 넣어 예측하라고 지시한다면 컴퓨터는 각각의 값들의
# 관계를 스스로 형성하게된다.
# 이 때 B형과 AB형을 더하면 O형이라고 하는 잘못된 관계를 맺을 수 있다.
# 이런 상황을 방지하기 위해서 각 값들이 독립적이라는 것을 알려줘야 한다..
# 이때 사용하는 방법이 원핫인코딩이다.

df['혈액형_code']

0     0
1     0
2     0
3     2
4     0
5     0
6     3
7     1
8     3
9     0
10    0
11    1
12    2
13    3
14    3
Name: 혈액형_code, dtype: int64

In [ ]:
# 원핫인코딩으로 만들어주는 함수(get_dummies())
pd.get_dummies(df['혈액형_code'])

    0  1  2  3
0   1  0  0  0
1   1  0  0  0
2   1  0  0  0
3   0  0  1  0
4   1  0  0  0
5   1  0  0  0
6   0  0  0  1
7   0  1  0  0
8   0  0  0  1
9   1  0  0  0
10  1  0  0  0
11  0  1  0  0
12  0  0  1  0
13  0  0  0  1
14  0  0  0  1

In [ ]:
pd.get_dummies(df['혈액형_code'], prefix='혈액형')

    혈액형_0  혈액형_1  혈액형_2  혈액형_3
0       1      0      0      0
1       1      0      0      0
2       1      0      0      0
3       0      0      1      0
4       1      0      0      0
5       1      0      0      0
6       0      0      0      1
7       0      1      0      0
8       0      0      0      1
9       1      0      0      0
10      1      0      0      0
11      0      1      0      0
12      0      0      1      0
13      0      0      0      1
14      0      0      0      1

In [ ]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  혈액형_code
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260         0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947         0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745         0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501         2
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928         0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335         0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792         3
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615         1
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308         3
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489         0
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661         0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027         1
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654         2
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137         3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442         3

In [ ]:
# df['그룹'].replace('방탄', 'BT') # 해당 데이터값과 완전히 일치해야만 교체
df['그룹'].str.replace('방탄', 'BT')

0     BT소년단
1        빅뱅
2       NaN
3     BT소년단
4       마마무
5     BT소년단
6      뉴이스트
7       아이들
8     BT소년단
9        핫샷
10     소녀시대
11     아스트로
12     뉴이스트
13     뉴이스트
14    BT소년단
Name: 그룹, dtype: object