In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kor-dol.csv')

In [ ]:
# dataframe 복사하기
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
new_df = df
new_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
new_df['이름'] = 0

In [ ]:
new_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
hex(id(new_df))

'0x7fba2c2c3750'

In [ ]:
hex(id(df))

'0x7fba2c2c3750'

In [ ]:
# 원본 데이터를 유지 시키고, 새로운 변수에 할당할 때에는 copy()를 사용한다.

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kor-dol.csv')

In [ ]:
copy_df = df.copy()

In [ ]:
hex(id(df))

'0x7fba279bc6d0'

In [ ]:
hex(id(copy_df))

'0x7fba279bcdd0'

In [ ]:
copy_df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
copy_df['이름'] = 0

In [ ]:
copy_df.head()

   이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0   0  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1   0     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2   0    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3   0  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4   0    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [25]:
# row추가
df.append({'이름':'테스트', '그룹':'ㅁㅁ', '소속사':'몰라', '성별':'남자', '생년월일':'1999-01-01', '키':190, '혈액형': 'o', '브랜드평판지수':12345678},ignore_index=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15   테스트     ㅁㅁ       몰라  남자  1999-01-01  190.0   o  12345678

In [26]:
# dictionary 형태의 데이터를 만든 후 append()함수 적용, ignore_index=True옵션을 추가
df.append({'이름':'테스트', '그룹':'ㅁㅁ', '소속사':'몰라', '성별':'남자', '생년월일':'1999-01-01', '키':190, '혈액형': 'o', '브랜드평판지수':12345678}, ignore_index=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15   테스트     ㅁㅁ       몰라  남자  1999-01-01  190.0   o  12345678

In [27]:
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

In [28]:
df = df.append({'이름':'테스트', '그룹':'ㅁㅁ', '소속사':'몰라', '성별':'남자', '생년월일':'1999-01-01', '키':190, '혈액형': 'o', '브랜드평판지수':12345678}, ignore_index=True)

In [29]:
df.tail()

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442
15  테스트     ㅁㅁ    몰라  남자  1999-01-01  190.0   o  12345678

In [30]:
# column 추가
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [31]:
df['국적'] = '대한민국'

In [32]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

In [33]:
# 국적 값을 변경
df.loc[df['이름'] == '화사', '국적'] = 'korea'

In [34]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수     국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260   대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947   대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745   대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501   대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  korea