In [ ]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/kor-dol.csv')

In [ ]:
# 데이터 타입 변환
# pandas에서 데이터 타입 변환은 데이터 전체가 아니라 시리즈별로 변환한다.
# 타입확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [ ]:
# astype()
df['키'].dtypes

dtype('float64')

In [ ]:
df['키'].astype(int) # NaN값으로 인해 변환이 안됨

ValueError: ignored

In [ ]:
df['키'] = df['키'].fillna(-1)

In [ ]:
df['키'].astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7      -1
8     179
9     167
10     -1
11    183
12    175
13    176
14    174
Name: 키, dtype: int64

In [ ]:
# datetime타입
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26   -1.0   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09   -1.0   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [ ]:
df['생년월일'] = pd.to_datetime(df['생년월일'])

In [ ]:
df['생년월일'].dt.dayofweek # 월 ~ 일 (0 ~ 6)

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

In [ ]:
df['생년월일'].dt.month # year, month, day, hour, minute, second

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [ ]:
df['생년월일'].dt.weekofyear

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

0     41
1     33
2     50
3     52
4     29
5     36
6     32
7     35
8     49
9     12
10    10
11    13
12    29
13    23
14    10
Name: 생년월일, dtype: int64

In [ ]:
df['출생년도'] = df['생년월일'].dt.year
df['출생월'] = df['생년월일'].dt.month
df['출생일자'] = df['생년월일'].dt.day

In [ ]:
df.head()

     이름     그룹  소속사  성별       생년월일      키 혈액형   브랜드평판지수  출생년도  출생월  출생일자
0    지민  방탄소년단  빅히트  남자 1995-10-13  173.6   A  10523260  1995   10    13
1  지드래곤     빅뱅   YG  남자 1988-08-18  177.0   A   9916947  1988    8    18
2  강다니엘    NaN  커넥트  남자 1996-12-10  180.0   A   8273745  1996   12    10
3     뷔  방탄소년단  빅히트  남자 1995-12-30  178.0  AB   8073501  1995   12    30
4    화사    마마무  RBW  여자 1995-07-23  162.1   A   7650928  1995    7    23

In [ ]:
# apply()함수 : dataframe에 구체적인 로직을 적용하고 싶을 때 활용
# df.loc[df['성별'] == '남자', '성별']
df.loc[df['성별'] == '남자', '성별'] = 1
df.loc[df['성별'] == '여자', '성별'] = 0

In [ ]:
df

      이름     그룹      소속사 성별       생년월일      키 혈액형   브랜드평판지수  출생년도  출생월  출생일자
0     지민  방탄소년단      빅히트  1 1995-10-13  173.6   A  10523260  1995   10    13
1   지드래곤     빅뱅       YG  1 1988-08-18  177.0   A   9916947  1988    8    18
2   강다니엘    NaN      커넥트  1 1996-12-10  180.0   A   8273745  1996   12    10
3      뷔  방탄소년단      빅히트  1 1995-12-30  178.0  AB   8073501  1995   12    30
4     화사    마마무      RBW  0 1995-07-23  162.1   A   7650928  1995    7    23
5     정국  방탄소년단      빅히트  1 1997-09-01  178.0   A   5208335  1997    9     1
6     민현   뉴이스트     플레디스  1 1995-08-09  182.3   O   4989792  1995    8     9
7     소연    아이들       큐브  0 1998-08-26   -1.0   B   4668615  1998    8    26
8      진  방탄소년단      빅히트  1 1992-12-04  179.2   O   4570308  1992   12     4
9    하성운     핫샷  스타크루이엔티  1 1994-03-22  167.1   A   4036489  1994    3    22
10    태연   소녀시대       SM  0 1989-03-09   -1.0   A   3918661  1989    3     9
11   차은우   아스트로     판타지오  1 1997-03-30  183.0   B   3506027  1997    3    30
12    백호   뉴이스트     플레디스  1 1995-07-21  175.0  AB   3301654  1995    7    21
13    JR   뉴이스트     플레디스  1 1995-06-08  176.0   O   3274137  1995    6     8
14    슈가  방탄소년단      빅히트  1 1993-03-09  174.0   O   2925442  1993    3     9

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/kor-dol.csv')

In [ ]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
# apply에 활용할 수 있는 함수를 정의
def male_or_female(x):
  if x == '남자':
    return 1
  elif x == '여자':
    return 0

In [ ]:
df['성별_new'] = df['성별'].apply(male_or_female) # 시리즈에 apply를 적용시 axis는 필요 없음

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0

In [ ]:
# cm당 브랜드평판지수를 구하기(브랜드평판지수 / 키)
def cm_to_brand(df):
  value = df['브랜드평판지수'] / df['키']
  return value

In [ ]:
df.apply(cm_to_brand)

KeyError: ignored

In [ ]:
df.apply(cm_to_brand, axis=1) # 데이터프레임 전체에 대한 apply를 지정시 axis를 지정해준다.

0     60617.857143
1     56027.949153
2     45965.250000
3     45356.747191
4     47198.815546
5     29260.308989
6     27371.321997
7              NaN
8     25503.950893
9     24156.128067
10             NaN
11    19158.617486
12    18866.594286
13    18603.051136
14    16812.885057
dtype: float64

In [ ]:
# 람다 함수적용
f = lambda x: 1 if x== '남자' else 0

In [ ]:
df['성별'].apply(f)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [ ]:
df['키/2'] = df['키'].apply(lambda x: x/2) # 간단한 계산식은 람다함수 사용

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new    키/2
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1  86.80
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1  88.50
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1  90.00
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1  89.00
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0  81.05

In [ ]:
# map - 매핑
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new    키/2
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260       1  86.80
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947       1  88.50
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745       1  90.00
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501       1  89.00
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928       0  81.05
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335       1  89.00
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792       1  91.15
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615       0    NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308       1  89.60
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489       1  83.55
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661       0    NaN
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027       1  91.50
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654       1  87.50
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137       1  88.00
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442       1  87.00

In [ ]:
# map은 딕셔너리로 정의한다.
my_map = {
    '남자' : 1,
    '여자' : 0
}

In [ ]:
df['성별'].map(my_map)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [ ]:
my_map = {
    '남자' : 'male',
    '여자' : 'female'
}

In [ ]:
df['성별'].map(my_map)

0       male
1       male
2       male
3       male
4     female
5       male
6       male
7     female
8       male
9       male
10    female
11      male
12      male
13      male
14      male
Name: 성별, dtype: object

In [ ]:
df['성별_new2'] = df['성별'].map(my_map)

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_new    키/2 성별_new2
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1  86.80    male
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1  88.50    male
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1  90.00    male
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1  89.00    male
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0  81.05  female

In [ ]:
# 데이터프레임간의 산술연산
df = pd.DataFrame({'국어' : [60, 70, 88, 85, 77], '영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})
df

   국어   영어   수학
0  60   50   70
1  70   55   65
2  88   80   50
3  85  100   95
4  77   95  100

In [ ]:
df['국어'] % df['수학'] # +,-,*,/,% 연산가능

0    60
1     5
2    38
3    85
4    77
dtype: int64

In [ ]:
df['국어'] / 10 # 브로드캐스팅

0    6.0
1    7.0
2    8.8
3    8.5
4    7.7
Name: 국어, dtype: float64

In [ ]:
df['국어수학합계'] = df['국어'] + df['수학']+10
df

   국어   영어   수학  국어수학합계
0  60   50   70     140
1  70   55   65     145
2  88   80   50     148
3  85  100   95     190
4  77   95  100     187

In [ ]:
df.mean(axis=0)

국어         76.0
영어         76.0
수학         76.0
국어수학합계    162.0
dtype: float64

In [ ]:
df = pd.DataFrame({'국어' : [60, 70, 88, 85, 77], '영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})
df

   국어   영어   수학
0  60   50   70
1  70   55   65
2  88   80   50
3  85  100   95
4  77   95  100

In [ ]:
df.sum(axis=0)

국어    380
영어    380
수학    380
dtype: int64

In [ ]:
df.sum(axis=1)

0    180
1    190
2    218
3    280
4    272
dtype: int64

In [ ]:
df.mean(axis=1)

0    60.000000
1    63.333333
2    72.666667
3    93.333333
4    90.666667
dtype: float64

In [ ]:
import numpy as np

df = pd.DataFrame({'국어' : [60, 70, 88, 85, 77], '영어':[50, np.nan, 80, 100, 95], '수학': [70, 65, 50, np.nan, 100]})

In [ ]:
df

   국어     영어     수학
0  60   50.0   70.0
1  70    NaN   65.0
2  88   80.0   50.0
3  85  100.0    NaN
4  77   95.0  100.0

In [ ]:
df['영어'] / 2

0    25.0
1     NaN
2    40.0
3    50.0
4    47.5
Name: 영어, dtype: float64

In [ ]:
df['영어'] / np.nan

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 영어, dtype: float64

In [ ]:
df1 = pd.DataFrame({'국어' : [60, 70, 88, 85, 77], '영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})
df2 = pd.DataFrame({'국어' : ['good', 'bad', 'ok', 'good', 'ok'], '영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})

In [ ]:
df1 + df2

TypeError: ignored

In [ ]:
df2 + 10

TypeError: ignored

In [ ]:
df1 = pd.DataFrame({'수학': [70, 65, 50, 95, 100], '영어':[50, 55, 80, 100, 95]})
df2 = pd.DataFrame({'영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})

In [ ]:
df1

    수학   영어
0   70   50
1   65   55
2   50   80
3   95  100
4  100   95

In [ ]:
df2

    영어   수학
0   50   70
1   55   65
2   80   50
3  100   95
4   95  100

In [ ]:
df1 + df2 # 컬럼위치가 달라도 알아서 계산해줌

    수학   영어
0  140  100
1  130  110
2  100  160
3  190  200
4  200  190

In [ ]:
# 행의 갯수가 다른 경우
df1 = pd.DataFrame({'수학': [70, 65, 50, 95, 100, 60], '영어':[50, 55, 80, 100, 95, 99]})
df2 = pd.DataFrame({'영어':[50, 55, 80, 100, 95], '수학': [70, 65, 50, 95, 100]})

In [ ]:
df1 * df2

        수학       영어
0   4900.0   2500.0
1   4225.0   3025.0
2   2500.0   6400.0
3   9025.0  10000.0
4  10000.0   9025.0
5      NaN      NaN